@-ms-viewport {
  width: device-width;
}

html {
  background-color: #2b2827;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.hero {
  background: url(../images/Mackeral-20.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  h1:after {
    content: '';
    border-right: 5px solid #fff;
    padding-left: 20px;
  }
}

.columns {
  position: fixed;
  bottom: 40px;
}
